#nav1 {
    background-color:#568620
}

#logo {
    max-width: 130px; 
    height: auto;
    vertical-align: middle;
    align-items: end; 
    justify-content: end;
}


#lien{ 
        color: #EEFF0E; 
        padding: 10px; 
        text-decoration: none; 
        transition: background-color 0.3s; 
        margin-left:50px;
    }
.lien{
    position: relative;
    color: #EEFF0E;
    font-size: 14px; 
    margin-left:100px;
    margin-top: 40px;
    }
    .lien::after {
        content: "";  
        position: absolute;
        margin-left:80px;
        left: 0; 
        bottom: -2px; 
        width:70px; 
        height: 2px; 
        background-color: #EEFF0E; 
        transition: transform 0.3s ease-in-out; 
        transform: translateX(-100%); 
    }
    
    .lien:hover::after {
        transform: translateX(0); 
    }
    /*#btn{
        margin-top: -60px;
        margin-left: 1030px;
        width:300px;
        height:50px;
        color: #FFFFDD;
       
    }
    #btn-log{
        background-color: #FFFFDD;
        color:black;
        padding: 10px 20px; 
        border: none; 
        border-radius: 5px;
        cursor:pointer ;
        width: 90px;
        height:35px;
        text-align:center;
        font-size: 14px;
        line-height: 15px
    }
    #btn-sign{
        background-color: #FFFFDD;
        color: black;
        padding: 10px 20px; 
        border: none; 
        border-radius: 5px;
        cursor:pointer;
        width:95px;
        height:35px;
        font-size: 14px;
        text-align: center;
        line-height: 15px
    }
    #btn-sign:hover{
        background-color: red;
    }
    #btn-log:hover{
        background-color: red; 
    }*/
   /* .btn {
        display: flex;
        gap: 20px;
    }
    
    .btn a {
        background-color: #FFFFDD;
        color: black;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        font-size: 14px;
        line-height: 15px;
        text-decoration: none;
    }
    
    .btn a:hover {
        background-color: red  !important;
    }*/
    #btn-log {
        background-color: #FFFFDD;
        position: absolute;
        color: black;
        padding: 10px 20px;
        width:100px;
        border:none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        font-size: 14px;
        line-height: 15px;
        margin-left:1010px;
        top:15px;
        text-decoration:none;
    }
    
    #btn-log:hover {
        background-color: red;
    }
    
  
    #btn-sign {
        background-color: #FFFFDD;
        color: black;
        padding: 10px 20px;
        width:100px;
        position: absolute;
        margin-left:1130px;
        top:15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        font-size: 14px;
        line-height: 15px;
        text-decoration: none;
    }
    
    #btn-sign:hover {
        background-color: blue; /* Changez la couleur selon vos besoins */
    }
  