#room{
    background-color: bisque;
    width:1160px;
    height:370px;
    position: relative;

 }
 #img1{
     position:absolute;
     width:290px;
     height:290px;
     top:30px;
     margin-left:30px;
 }
 #service{
     position: absolute;
     margin-left:370px;
 }
 .room11{
     position: absolute;
     margin-left:350px;
     top:3px;
 }
 .trait{
     position: absolute;
     width:750px;
     border-radius:3px;
     border-color:maroon;
 }
/* #name1{
 position:absolute;
 top:45px;
 }
 #price2{
 position:absolute;
  top:45px;
 }
 .service1{
     position: absolute;
     top:90px;
 }*/

 #checkin{
 margin-left:-55px;
 position: relative;
 top:50px;
 }
 #checkout{
     margin-left:230px;
     position: relative;
     top:-2px;
    
}
.check{
    display: inline-block;
  
    padding: 0.25em 0.5em;
    color: #ffffff;
 
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
}

#info{
position: absolute;
 top:25px;
 margin-left:380px;
}

/*#lien1{
position: absolute;  
top:228px; 
display: inline-block;
padding: 0.5rem 1rem;
color: white;
background-color: #A2C579;
text-decoration: none;
border-radius: 0.25rem;
margin-left:530px;
width:120px;
height:33px;
text-align: center;
}
#lien2{
position: absolute;  
top:228px; 
display: inline-block;
padding: 0.5rem 1rem;
color: white;
background-color: #A2C579;
text-decoration: none;
border-radius: 0.25rem;
margin-left:655px;
width:120px;
height:35px;
text-align: center;
}*/
#lien1{
    margin-left:530px;
    top:-60px; 
}
#lien2{
    margin-left:-15px; 
    top:-60px; 
}
#name1{
color:#a16207;
}
#price2{
 color:#a16207;  
}
.bn5 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #a16207;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-left:228px;
  }
  
  .bn5:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowingbn5 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowingbn5 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .bn5:active {
    color:#a16207;
  }
  
  .bn5:active:after {
    background: transparent;
  }
  
  .bn5:hover:before {
    opacity: 1;
  }
  
  .bn5:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #a16207;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  .warning {
    top:290px;
    position: absolute;
    margin-left:40px;
  }
  .success{
    top:290px;
    position: absolute;
    margin-left:40px;
  }
  .disabled {
    pointer-events: none; /* Désactive les événements de souris */
    opacity: 0.5; /* Réduit l'opacité pour indiquer visuellement que le lien est désactivé */
    cursor: not-allowed; /* Change le curseur en "non autorisé" */
    text-decoration: none; /* Supprime le soulignement du lien */
}