

.logo {
    width:200px; 
    height:auto;
    

  
}

.titre {

    font-weight: bold;
    filter: drop-shadow(0 0 0.75rem rgb(184, 111, 3));

}

.lien{
        /* Styles de base */
        position: relative;/* Couleur du texte */
        text-decoration: none; /* Supprimer le soulignement par défaut */
        padding: 5px 10px; /* Espacement à l'intérieur du lien */
        transition: color 0.3s, background-color 0.3s; /* Animation de transition */
         margin-left:5px;
        /* Ajouter une bordure transparente */
        border: 1px solid transparent;
        border-radius: 3px; /* Arrondir les coins */
    }


    /*.lien {
#nav1 {
    background-color:#568620;
}

/* #logo {
    max-width: 130px; 
    height: auto;
    vertical-align: middle;
    align-items: end; 
    justify-content: end;
} */



    .lien {
        position: relative;
        color: #EEFF0E;
        font-size: 14px; 
        margin-left: 100px;
        margin-top: 40px;
        text-decoration: none; /* Pour supprimer la soulignement du texte de lien */
    }
    .lien:hover {
        /* Styles au survol */
        color: white; /* Nouvelle couleur du texte */
        background-color: #c05621; /* Nouvelle couleur de fond */
        border-color: #c05621; 
    }
    
    .lien::after {
        content: "";  
        position: absolute;
        left:0px; 
        bottom: -2px; 
        width: 100%; /* Largeur à 100% pour couvrir la largeur du lien */
        height: 2px; 
        background-color: #c05621; 
        transition: transform 0.3s ease-in-out; 
        transform: scaleX(0); 
        transform-origin: bottom left; /* Origine de la transformation */
    }
    
    .lien:hover::after {
        transform: scaleX(1); /* Augmente la largeur au survol */
    }


 

  @media (max-width: 768px) {
    body {
      font-size: smaller; 
    }
   #menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    
      
       
    } 
    @media (min-width: 768px) {
        #menu {
            display: none;
        }
    }
    
/* 
  @media (max-width: 760px) {
    #menu {
        display:flex;
      }
  } */ 

    
    
     
 