body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Utilisation de 100vh pour occuper toute la hauteur de l'écran */
    display: flex;
    flex-direction: column;
}



.content {
    flex: 1; 
    position: relative;
    overflow: hidden; 
}
    .slider {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        z-index:1;
    }
    
    .slider::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(10, 0, 0, 0.3);
        z-index: 1;
    }
    
    
    .text {
        position: absolute;
       margin-top:290px;
        left:35%;
        font-size:18px;
        transform: translateX(-50%);
        text-align: center;
        color: white;
        z-index:1;
    }
    .titre{
        position:absolute;
        left:30px;
        margin-top:220px;
        color:#e87338;
        font-size:30px;
        z-index: 1;
    
    }
    
    .text1 {
        margin-bottom: 20px;
        line-height: 1.5; /* Marge entre les lignes de texte */
        text-align: justify;
         /* Justifier le texte */
    }
    
    .text2 {
        color: #EEFF0E;
    }








