.rooms{
    background-color: bisque;
    position: relative;
    width:760px;
    height:2200px;
    margin-left:200px;
}
.room1{
    background-color:bisque;
    position: relative;
    width:760px;
    height:350px;
}
.room2{
    background-color:bisque;
    width:760px;
    height:350px;
}
.room3{
    background-color:bisque;
    width:760px;
    height:350px;
}
.room4{
    background-color:bisque;
    width:760px;
    height:350px;
}
.room5{
    background-color:bisque;
    width:760px;
    height:350px;
}
.room6{
    background-color:bisque;
    width:760px;
    height:350px;
}
#r1{
    position: absolute;
    height:350px;
    margin-left:411px;
}
#r2{
    position: absolute;
    height:350px;
    margin-left:2px;
    width:360px;
}
#r3{
    position: absolute;
    height:350px;
    width:360px;
    margin-left:400px;
}
#r4{
    position: absolute;
    height:350px;
    margin-left:0px;
    width:360px;
}
#r5{
    position: absolute;
    height:350px;
    margin-left:400px;
    width:360px;
}
#r6{
    position: absolute;
    height:350px;
    margin-left:2px;
    width:360px;
}
#text1 {
position: absolute;
margin-left: 10px;
display: flex;
flex-direction: column;
align-items: baseline; 
top:60px;
line-height: 1.5;
}
#titre1{
position: relative;
top:1px;
margin-left: 10px;
font-size:28px;
font-family: Arial, Helvetica, sans-serif;
color:#ce8a5d;
}
#titre2{
position: relative;
top:1px;
margin-left: 370px;
font-size:28px;
color:#ce8a5d;
}
#titre3{
position: relative;
top:5px;
margin-left:7px;
font-size:28px;
color:#ce8a5d;
}
#titre4{
position: relative;
top:1px;
margin-left: 370px;
font-size:28px;
color:#ce8a5d;
}
#titre5{
position: relative;
top:1px;
margin-left:7px;
font-size:28px;
color:#ce8a5d;
}
#titre6{
position: relative;
top:1px;
margin-left: 370px;
font-size:28px;
color:#ce8a5d;
}
.lien1{
position: relative;  
top:260px; 
display: inline-block;
padding: 0.5rem 1rem;
color: white;
background-color: #884011;
text-decoration: none;
border-radius: 0.25rem;
margin-left: 10px;
}
#text2 {
position: absolute;
margin-left:390px;
display: flex;
flex-direction: column;
align-items: baseline; 
top:550px;
line-height: 1.5;
}

#see1{
margin-left:5px;
top:150px; 
}
#see3{
margin-left:5px;
top:150px; 
}
#see2{
margin-left:370px;
top:140px;
}
#see6{
margin-left:370px;
top:110px;
}
#see5{
margin-left:10px;
top:140px;
}
#text3 {
position: absolute;
margin-left: 10px;
display: flex;
flex-direction: column;
align-items: baseline; 
top:950px;
line-height: 1.5;
}
.carde1{
position: absolute;
width:600px;
height:95px;
background-color:white;
border: 2px solid #884011;
top:180px;
margin-left:0px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.carde2{
position:absolute;
width:600px;
height:95px;
background-color:white;
border: 2px solid #884011; 
top:790px;
margin-left:160px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.carde3{
position: absolute;
width:600px;
height:95px;
background-color:white;
border: 2px solid #884011;
top:1150px;
margin-left:0px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.carde4{
position:absolute;
width:600px;
height:95px;
background-color:white;
border: 2px solid #884011;
top:1550px;
margin-left:160px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
#see4{
margin-left:370px;
top:120px;
}
.carde5{
position: absolute;
width:600px;
height:95px;
background-color:white;
border: 2px solid #884011;
top:1940px;
margin-left:0px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.carde6{
position:absolute;
width:600px;
height:95px;
background-color:white;
border: 2px solid #884011; 
top:2320px;
margin-left:160px;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.room-info1,
.room-details1 {
display: flex;
flex-direction:row;
}

.room-info1 h3{
margin-right:55px;
color:#ce8a5d;
}
.room-details1 h3 {
position:relative;
margin-right:107px; 
top:-15px;

}

.room-info2,
.room-details2 {
display: flex;
flex-direction:row;
}

.room-info2 h3{
margin-right:55px;
color:#ce8a5d;
}
.room-details2 h3 {
position: relative;
margin-right:100px; 
top:-15px; 

}
.room-info3,
.room-details3 {
display: flex;
flex-direction:row;
}

.room-info3 h3{
margin-right:55px;
color:#ce8a5d;
}
.room-details3 h3 {
position: relative;
margin-right:100px; 
top:-15px;

}
.room-info4,
.room-details4 {
display: flex;
flex-direction:row;
}

.room-info4 h3{
margin-right:55px;
color:#ce8a5d;
}
.room-details4 h3 {
position: relative;
margin-right:100px; 
top:-15px; 

}
.room-info5,
.room-details5 {
display: flex;
flex-direction:row;
}

.room-info5 h3{
margin-right:55px;
color:#ce8a5d;
}
.room-details5 h3 {
position: relative;
margin-right:100px; 
top:-15px; 

}
.room-info6,
.room-details6 {
display: flex;
flex-direction:row;
}

.room-info6 h3{
margin-right: 60px;
color:#ce8a5d;
}
.room-details6 h3 {
position: relative;
margin-right:100px; 
top:-15px;

}
.price1{
position:absolute;
margin-left:500px;
top:0px;
background-color:#884011;
width:100px;
height:95px;

}
.price2{
position: absolute;
margin-left:500px;
top:0px;
background-color:#884011;
width:100px;
height:95px;
}
.price3{
position: absolute;
margin-left:500px;
top:0px;
background-color:#884011;
width:100px;
height:95px;
}
.price4{
position: absolute;
margin-left:500px;
top:0px;
background-color:#884011;
width:100px;
height:95px;
}
.price5{
position: absolute;
margin-left:500px;
top:0px;
background-color:#884011;
width:100px;
height:95px;
}
.price6{
position: absolute;
margin-left:500px;
top:0px;
background-color:#884011;
width:100px;
height:95px;
}

.title{
display:inline-block;
color:#A04E18;
margin-top:50px;
margin-left:250px;
font-size:28px;  
}
.text{
display:inline-block;
margin-top:8px;
margin-left:130px;
text-indent: -20px;
font-size:17px; 
}
.text1{
display:inline-block;
margin-top:20px;
margin-left:7px;

font-size:17px; 
}
.text2{
display:inline-block;
margin-top:20px;
margin-left:370px;
font-size:17px; 
}
.text3{
display:inline-block;
margin-top:30px;
margin-left:1px;
font-size:17px; 
}
.text4{
display:inline-block;
margin-top:20px;
margin-left:370px;
font-size:17px; 
}
.text5{
display:inline-block;
margin-top:20px;
margin-left:4px;
font-size:17px; 
}
.text6{
display:inline-block;
margin-top:20px;
margin-left:370px;
font-size:17px; 
}
.price1 h3 {
position: absolute;
margin: 0;
padding: 5px; 
color: white; 
font-size:19px; 
font-weight:10px;
margin-left:15px; 
top:24px;
font-family:'Times New Roman', Times, serif;

}
.price2 h3 {
position: absolute;
margin: 0;
padding: 5px; 
color: white; 
font-size:19px; 
font-weight:10px;
margin-left:15px; 
top:24px;
font-family:'Times New Roman', Times, serif;

}
.price3 h3 {
position: absolute;
margin: 0;
padding: 5px; 
color: white; 
font-size:19px; 
font-weight:10px;
margin-left:15px; 
top:24px;
font-family:'Times New Roman', Times, serif;

}
.price4 h3 {
position: absolute;
margin: 0;
padding: 5px; 
color: white; 
font-size:19px; 
font-weight:10px;
margin-left:15px; 
top:24px;
font-family:'Times New Roman', Times, serif;

}
.price5 h3 {
position: absolute;
margin: 0;
padding: 5px; 
color: white; 
font-size:19px; 
font-weight:10px;
margin-left:15px; 
top:24px;
font-family:'Times New Roman', Times, serif;

}
.price6 h3 {
position: absolute;
margin: 0;
padding: 5px; 
color: white; 
font-size:19px; 
font-weight:10px;
margin-left:15px; 
top:24px;
font-family:'Times New Roman', Times, serif;

}
.border-animation {
        border: 2px solid rgba(188, 145, 5, 0.986); /* Couleur de la bordure avec transparence */
        transition: border-color 0.3s ease-in-out; /* Animation de transition */
}
.button{
    background-color: #bd8c6b;
    transform: rotate(10);
    transition:background-color 0.3s ease-in-out;
}